.primaria {
  color: red; }

.secundaria {
  color: blue; }

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box; }

h1 {
  text-transform: uppercase; }

h2 {
  text-transform: uppercase; }

.portfolio ul {
  overflow: hidden;
  position: relative;
  text-align: center; }
  .portfolio ul li {
    position: relative;
    line-height: 100px;
    display: inline-block;
    padding: 0 20px;
    text-transform: uppercase;
    color: red;
    cursor: pointer; }
    .portfolio ul li:hover {
      color: blue; }

.portfolio .article-wrapper {
  width: 100%;
  height: 80%;
  position: relative; }
  .portfolio .article-wrapper article {
    width: 25%;
    position: relative;
    overflow: hidden;
    float: left;
    cursor: pointer;
    transform: transale3d(0, 0, 0); }
    .portfolio .article-wrapper article:before {
      padding-top: 100%;
      display: block;
      content: ''; }
    .portfolio .article-wrapper article:hover .subtitle {
      max-height: 110px; }
    .portfolio .article-wrapper article:hover img {
      top: -1000px;
      -webkit-filter: brightness(50%); }
    .portfolio .article-wrapper article figure {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0; }
      .portfolio .article-wrapper article figure img {
        position: relative;
        width: 100%;
        top: 0;
        transform: transale3d(0, 0, 0);
        transition: top 5s ease-in-out, -webkit-filter 0.4s ease-in-out; }
      .portfolio .article-wrapper article figure .subtitle {
        max-height: 0px;
        width: 100%;
        position: absolute;
        bottom: -5px;
        left: 0;
        background-color: #fff;
        border-top: 5px solid rgba(0, 0, 0, 0.8);
        box-sizing: content-box;
        overflow: hidden;
        transition: all 0.4s ease-in-out; }
        .portfolio .article-wrapper article figure .subtitle h3 {
          padding: 10px;
          margin: 0; }
        .portfolio .article-wrapper article figure .subtitle p {
          padding: 10px 10px;
          margin: 0;
          margin-bottom: 5px; }
    @media (max-width: 1024px) {
      .portfolio .article-wrapper article {
        width: 50%; } }

.portfolio .popupPortfolio {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden; }
  .portfolio .popupPortfolio .popup-esq {
    width: 50%;
    float: left;
    position: relative; }
    .portfolio .popupPortfolio .popup-esq img {
      width: 100%; }
  .portfolio .popupPortfolio .popup-dir {
    width: 50%;
    height: 100%;
    float: left;
    background-color: #fff;
    position: relative; }
    .portfolio .popupPortfolio .popup-dir .wrapper-pop-text {
      width: 80%;
      margin: 0 auto;
      position: relative;
      transform: translateY(-50%);
      top: 50%; }
      .portfolio .popupPortfolio .popup-dir .wrapper-pop-text * {
        padding: 20px 0; }
      .portfolio .popupPortfolio .popup-dir .wrapper-pop-text .popup-tags {
        border-top: 1px solid #cecece;
        border-bottom: 1px solid #cecece; }
    .portfolio .popupPortfolio .popup-dir span {
      cursor: pointer;
      position: absolute;
      top: 40px;
      right: 50px;
      font-size: 20px; }

.hero {
  background-image: url(../images/hero.jpg);
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative; }
  .hero .wrapper-hero {
    text-align: center; }

/*# sourceMappingURL=main.css.map */
