@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  list-style: none; }

html,
body {
  height: 100%; }

h1 {
  text-transform: uppercase; }

.wrapper {
  margin: 0 auto;
  width: 1130px;
  overflow: hidden; }

.button, .btn-light, .btn-dark {
  outline: 0 !important;
  cursor: pointer;
  display: inline-block;
  line-height: 50px;
  padding: 0 20px;
  color: #fff;
  font-family: "OpenSans-Bold";
  font-size: 16px;
  color: #e5e5e5;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  transition: all .2s ease-in-out; }

.btn-light {
  border: 1px solid #fff;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2); }
  .btn-light:hover {
    text-decoration: none;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.5); }

.btn-dark {
  border: 1px solid #f85b3f;
  color: #FFFFFF;
  background-color: #f85b3f; }
  .btn-dark:hover {
    text-decoration: none;
    color: #FFFFFF;
    border: 1px solid rgba(248, 91, 63, 0.7);
    background-color: rgba(248, 91, 63, 0.7); }
  .btn-dark:focus {
    color: #FFFFFF; }

address {
  font-style: normal; }

a {
  text-decoration: none !important; }

.content {
  height: 100%; }

.single {
  overflow-x: hidden; }

i {
  color: #212121;
  color: #303F9F; }

@font-face {
  font-family: Oswald-Light;
  src: url("../fonts/Oswald/Oswald-Light.eot");
  src: url("../fonts/Oswald/Oswald-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Oswald/Oswald-Light.ttf") format("truetype"), url("../fonts/Oswald/Oswald-Light.svg#Oswald-Light") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: Oswald-Regular;
  src: url("../fonts/Oswald/Oswald-Regular.eot");
  src: url("../fonts/Oswald/Oswald-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Oswald/Oswald-Regular.ttf") format("truetype"), url("../fonts/Oswald/Oswald-Regular.svg#Oswald-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: OpenSans-Light;
  src: url("../fonts/OpenSans/OpenSans-Light.eot");
  src: url("../fonts/OpenSans/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Light.ttf") format("truetype"), url("../fonts/OpenSans/OpenSans-Light.svg#OpenSans-Light") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: OpenSans-Regular;
  src: url("../fonts/OpenSans/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans/OpenSans-Regular.svg#OpenSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: OpenSans-Bold;
  src: url("../fonts/OpenSans/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans/OpenSans-Bold.svg#OpenSans-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: OpenSans-Condensed-Bold;
  src: url("../fonts/OpenSansCondensed/OpenSans-CondBold.eot");
  src: url("../fonts/OpenSansCondensed/OpenSans-CondBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansCondensed/OpenSans-CondBold.ttf") format("truetype"), url("../fonts/OpenSansCondensed/OpenSans-CondBold.svg#OpenSans-Condensed-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: OpenSans-Condensed-Light;
  src: url("../fonts/OpenSansCondensed/OpenSans-CondLight.eot");
  src: url("../fonts/OpenSansCondensed/OpenSans-CondLight.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansCondensed/OpenSans-CondLight.ttf") format("truetype"), url("../fonts/OpenSansCondensed/OpenSans-CondLight.svg#OpenSans-Condensed-Light") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: OpenSans-Condensed-LightItalic;
  src: url("../fonts/OpenSansCondensed/OpenSans-CondLightItalic.eot");
  src: url("../fonts/OpenSansCondensed/OpenSans-CondLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansCondensed/OpenSans-CondLightItalic.ttf") format("truetype"), url("../fonts/OpenSansCondensed/OpenSans-CondLightItalic.svg#OpenSans-Condensed-LightItalic") format("svg");
  font-weight: normal;
  font-style: normal; }
.content {
  transition: transform 0.5s cubic-bezier(1, 0.005, 0.24, 1); }

.menu_toggle {
  z-index: 900;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  cursor: pointer;
  width: 100px;
  height: 80px;
  background-color: #f85b3f;
  border-bottom-right-radius: 100%; }
  @media (max-width: 767px) {
    .menu_toggle {
      width: 70px;
      height: 60px; } }
  .menu_toggle:active i {
    opacity: 0.8; }
  .menu_toggle i {
    color: #FFFFFF; }
  .menu_toggle .menu_open,
  .menu_toggle .menu_close {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -12px;
    transition: transform 0.5s cubic-bezier(1, 0.005, 0.24, 1); }
    @media (max-width: 767px) {
      .menu_toggle .menu_open,
      .menu_toggle .menu_close {
        top: 54%;
        left: 47%; } }
  .menu_toggle .menu_open {
    transform-origin: -100px -100px; }
  .menu_toggle .menu_close {
    transform: rotate(20deg);
    transform-origin: -100px -160px; }

.menu_items {
  position: fixed;
  top: 130px;
  left: 50px;
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .menu_items li {
    height: 60px;
    margin-bottom: 30px;
    transform: translateX(-300px);
    transition: transform 0.5s 0s cubic-bezier(1, 0.005, 0.24, 1); }
    .menu_items li:nth-child(2) {
      margin-left: 40px; }
    .menu_items li:nth-child(3) {
      margin-left: 80px; }
    .menu_items li:nth-child(4) {
      margin-left: 40px; }
  .menu_items a {
    outline: 0 !important;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #0d1029;
    transition: color .2s; }
    .menu_items a .icon {
      position: relative;
      display: inline-block;
      margin-right: 25px;
      color: #303F9F; }
      .menu_items a .icon:after {
        position: absolute;
        top: 53%;
        left: 54%;
        content: '';
        display: block;
        width: 60px;
        height: 60px;
        margin-left: -33px;
        margin-top: -32px;
        border-radius: 100%;
        border: 2px solid #e5e5e5;
        transition: border-color .2s; }
    .menu_items a:hover {
      color: #f85b3f !important; }
      .menu_items a:hover .icon:after {
        border-color: #f85b3f; }
    .menu_items a:active .icon {
      color: #f85b3f; }

/* Let's open up the menu */
.shazam .content {
  transform: translateX(320px); }
.shazam .menu_open {
  transform: rotate(-20deg); }
.shazam .menu_close {
  transform: rotate(0); }
.shazam .menu_items li {
  transform: translateX(0);
  transition: transform 0.35s 0.45s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  .shazam .menu_items li:nth-child(2) {
    transition-delay: .47s; }
  .shazam .menu_items li:nth-child(3) {
    transition-delay: .48s; }
  .shazam .menu_items li:nth-child(4) {
    transition-delay: .50s; }

.contact {
  background: #f6f6f6;
  overflow: hidden;
  padding-bottom: 50px; }
  .contact .container {
    margin-top: 60px;
    /* ------ FORM ----*/ }
    .contact .container .contact-details {
      background: transparent;
      text-align: left; }
      @media (max-width: 767px) {
        .contact .container .contact-details {
          padding: 20px 20px; } }
      @media (max-width: 640px) {
        .contact .container .contact-details {
          width: 100%;
          text-align: center; } }
      .contact .container .contact-details h1 {
        font-family: "OpenSans-Bold";
        font-size: 15px;
        color: #212121;
        font-weight: normal;
        margin-top: 0; }
      @media (max-width: 767px) and (min-width: 641px) {
        .contact .container .contact-details h2 {
          width: 80%; } }
      .contact .container .contact-details h2,
      .contact .container .contact-details h2 {
        font-family: "OpenSans-Regular";
        font-size: 13px;
        color: #727272;
        font-weight: normal;
        margin: 10px 0;
        line-height: 160%; }
      .contact .container .contact-details article.reach-us {
        margin-bottom: 30px; }
      .contact .container .contact-details h2 {
        margin-bottom: 40px; }
      .contact .container .contact-details ul li {
        margin: 10px 0; }
        .contact .container .contact-details ul li::after {
          content: '';
          display: block;
          background: #B6B6B6;
          margin: 15px 0;
          text-align: center;
          width: 90%;
          height: 1px; }
          @media (max-width: 767px) {
            .contact .container .contact-details ul li::after {
              margin: 15px auto; } }
        .contact .container .contact-details ul li:last-child::after {
          width: 0;
          height: 0; }
        .contact .container .contact-details ul li i {
          font-size: 18px;
          margin-right: 30px;
          top: 1px; }
        .contact .container .contact-details ul li span,
        .contact .container .contact-details ul li span * {
          font-family: "OpenSans-Regular";
          font-size: 15px;
          color: #212121;
          font-weight: normal; }
    .contact .container .send-message {
      width: 50%;
      text-align: center;
      /* Todos inputs menos o bot├úo submit */ }
      @media (max-width: 640px) {
        .contact .container .send-message {
          width: 100%; } }
      .contact .container .send-message textarea {
        height: 220px; }
      .contact .container .send-message input:first-child {
        margin-top: 0 !important; }
      .contact .container .send-message input:not([type="submit"]),
      .contact .container .send-message textarea {
        font-family: "OpenSans-Regular";
        font-size: 13px;
        color: #212121;
        font-weight: normal;
        line-height: 40px;
        padding-left: 20px;
        width: 100%;
        margin: 20px 0;
        outline: 0;
        border: none;
        background-color: transparent;
        border: 2px solid #212121; }
      .contact .container .send-message input:not([type="submit"]) {
        line-height: 40px;
        padding-left: 20px; }
      .contact .container .send-message input[type="submit"] {
        float: right; }
        @media (max-width: 767px) {
          .contact .container .send-message input[type="submit"] {
            width: 100%;
            float: none; } }
  .contact .title-subtitle .container {
    margin-top: 0; }

.align-fix {
  margin-left: 3px; }

.hero {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url(../images/tagus.jpg);
  background-position: center center;
  background-size: cover; }
  .hero .lang-switcher {
    z-index: 998;
    background: blue;
    position: absolute;
    top: 10px;
    right: 10px; }
    .hero .lang-switcher img {
      cursor: pointer;
      height: auto;
      width: 42px; }
  .hero .mask-hero {
    background: -webkit-linear-gradient(bottom left, rgba(48, 63, 159, 0.8) 0%, rgba(248, 91, 63, 0.8) 100%);
    background: -o-linear-gradient(bottom left, rgba(48, 63, 159, 0.8) 0%, rgba(248, 91, 63, 0.8) 100%);
    background: linear-gradient(to top right, rgba(48, 63, 159, 0.8) 0%, rgba(248, 91, 63, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf303f9f', endColorstr='#bff85b3f', GradientType=1);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    -webkit-filter: brightness(150%); }
  .hero .wrapper-hero {
    z-index: 5;
    width: 500px;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    text-align: center;
    background-color: #e5e5e5; }
    .hero .wrapper-hero h1 {
      display: inline-block;
      font-family: "OpenSans-Bold";
      font-size: 120px;
      color: #B6B6B6;
      font-weight: normal;
      display: inline-block;
      line-height: 100px;
      margin: 40px 0; }
      .hero .wrapper-hero h1 span {
        font-family: "OpenSans-Condensed-Light";
        font-size: 165px;
        color: #727272;
        font-weight: normal; }
    @media (min-width: 601px) and (max-width: 1000px) {
      .hero .wrapper-hero {
        width: 320px;
        top: 50%;
        transform: translateY(-50%);
        margin: 0 auto;
        text-align: center; }
        .hero .wrapper-hero h1 {
          font-size: 80px;
          line-height: 70px;
          margin: 30px 0; }
          .hero .wrapper-hero h1 span {
            font-size: 110px; } }
    @media (min-width: 0px) and (max-width: 600px) {
      .hero .wrapper-hero {
        width: 220px;
        top: 50%;
        transform: translateY(-50%);
        margin: 0 auto;
        text-align: center; }
        .hero .wrapper-hero h1 {
          font-size: 58px;
          line-height: 50px;
          margin: 20px 0; }
          .hero .wrapper-hero h1 span {
            font-size: 80px; } }
  .hero .hero-down {
    bottom: 30px;
    left: 50%;
    font-size: 20px;
    transform: translateX(-50%);
    display: inline-block;
    z-index: 4;
    position: absolute;
    animation: hero-down 2s infinite;
    cursor: pointer;
    padding: 20px; }
    .hero .hero-down i {
      color: #FFFFFF !important; }
    @media (min-width: 601px) and (max-width: 1000px) {
      .hero .hero-down {
        bottom: 10px;
        animation: hero-down-mob 2s infinite; } }
    @media (min-width: 0px) and (max-width: 600px) {
      .hero .hero-down {
        bottom: 5px;
        animation: hero-down-mob 2s infinite; } }

@-webkit-keyframes hero-down {
  0% {
    bottom: 30px; }
  50% {
    bottom: 50px; }
  100% {
    bottom: 30px; } }
@keyframes hero-down {
  0% {
    bottom: 30px; }
  50% {
    bottom: 50px; }
  100% {
    bottom: 30px; } }
@-webkit-keyframes hero-down-mob {
  0% {
    bottom: 0px; }
  50% {
    bottom: 20px; }
  100% {
    bottom: 0px; } }
@keyframes hero-down-mob {
  0% {
    bottom: 0px; }
  50% {
    bottom: 20px; }
  100% {
    bottom: 0px; } }
.portfolio {
  /* ul {
      overflow: hidden;
      text-align: center;
      li {
          line-height: 100px;
          display: inline-block;
          padding: 0 20px;
          text-transform: uppercase;
          color: $cor-primaria;
          cursor: pointer;
          &:hover {
              color: $cor-secundaria;
          }
      }
  } */ }
  .portfolio .article-wrapper {
    width: 100%;
    height: 80%;
    overflow: hidden; }
    .portfolio .article-wrapper article {
      width: 25%;
      overflow: hidden;
      float: left;
      cursor: pointer;
      -webkit-transform: transale3d(0, 0, 0);
      -moz-transform: transale3d(0, 0, 0);
      transform: transale3d(0, 0, 0); }
      .portfolio .article-wrapper article:before {
        padding-top: 100%;
        display: block;
        content: ''; }
      .portfolio .article-wrapper article:hover .subtitle {
        max-height: 110px; }
      .portfolio .article-wrapper article:hover img {
        top: -1000px;
        -webkit-filter: brightness(50%);
        -moz-filter: brightness(50%);
        filter: brightness(50%); }
      .portfolio .article-wrapper article figure {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0; }
        .portfolio .article-wrapper article figure img {
          position: relative;
          width: 100%;
          top: 0;
          transform: transale3d(0, 0, 0);
          transition: top 5s ease-in-out, -webkit-filter .4s ease-in-out; }
        .portfolio .article-wrapper article figure .subtitle {
          max-height: 0px;
          width: 100%;
          position: absolute;
          bottom: -5px;
          left: 0;
          background-color: #fff;
          border-top: 5px solid rgba(0, 0, 0, 0.8);
          box-sizing: content-box;
          overflow: hidden;
          transition: all .4s ease-in-out; }
          .portfolio .article-wrapper article figure .subtitle h3 {
            padding: 10px;
            margin: 0; }
          .portfolio .article-wrapper article figure .subtitle p {
            padding: 10px 10px;
            margin: 0;
            margin-bottom: 5px; }
      @media (min-width: 1001px) and (max-width: 1400px) {
        .portfolio .article-wrapper article {
          width: 50%; } }
      @media (min-width: 601px) and (max-width: 1000px) {
        .portfolio .article-wrapper article {
          width: 50%; } }
      @media (min-width: 0px) and (max-width: 600px) {
        .portfolio .article-wrapper article {
          width: 100%; } }

.popupPortfolio {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 850; }
  .popupPortfolio > * {
    display: none;
    height: 100%; }
  .popupPortfolio .popup-esq {
    width: 50%;
    float: left; }
    .popupPortfolio .popup-esq img {
      width: 100%; }
    @media (min-width: 0px) and (max-width: 600px) {
      .popupPortfolio .popup-esq {
        width: 100%;
        height: 50%; } }
  .popupPortfolio .popup-dir {
    width: 50%;
    height: 100%;
    float: left;
    background-color: #fff; }
    .popupPortfolio .popup-dir .wrapper-pop-text {
      width: 90%;
      margin: 0 auto;
      transform: translateY(-50%);
      top: 50%; }
      .popupPortfolio .popup-dir .wrapper-pop-text * {
        padding: 10px 0; }
        @media (min-width: 0px) and (max-width: 600px) {
          .popupPortfolio .popup-dir .wrapper-pop-text * {
            padding: 5px 0; } }
      .popupPortfolio .popup-dir .wrapper-pop-text .popup-tags {
        border-top: 1px solid #cecece;
        border-bottom: 1px solid #cecece; }
      @media (min-width: 0px) and (max-width: 600px) {
        .popupPortfolio .popup-dir .wrapper-pop-text h1 {
          margin: 5px 0; } }
    .popupPortfolio .popup-dir .closePortfolio {
      cursor: pointer;
      position: absolute;
      top: 40px;
      right: 50px;
      font-size: 20px; }
    @media (min-width: 0px) and (max-width: 600px) {
      .popupPortfolio .popup-dir {
        width: 100%;
        height: 50%;
        font-size: 12px; } }

.popup {
  position: relative;
  width: 100%;
  height: 100%; }
  .popup .popup-devices {
    width: 60%;
    height: 100%; }
    .popup .popup-devices .desktop {
      background-image: url(../images/desktop.jpg);
      background-size: contain;
      background-repeat: no-repeat; }
      .popup .popup-devices .desktop .screen-desktop {
        width: 471px;
        max-height: 265px;
        top: 23px;
        left: 24px;
        overflow: hidden; }
        .popup .popup-devices .desktop .screen-desktop .content-desktop {
          width: 100%;
          max-height: 306px;
          overflow-y: scroll;
          overflow-x: hidden;
          padding-right: 0; }
          .popup .popup-devices .desktop .screen-desktop .content-desktop img {
            width: 105%; }
    .popup .popup-devices .phone {
      position: absolute;
      background-image: url(../images/iphone.png);
      background-size: contain;
      background-repeat: no-repeat; }
      .popup .popup-devices .phone .screen-phone {
        position: relative;
        width: 182px;
        max-height: 298px;
        top: 47px;
        left: 10px;
        overflow: hidden; }
        .popup .popup-devices .phone .screen-phone .content-phone {
          width: 100%;
          max-height: 298px;
          overflow-y: scroll;
          overflow-x: hidden;
          padding-right: 0; }
          .popup .popup-devices .phone .screen-phone .content-phone img {
            max-width: 114%; }
    @media (min-width: 1401px) {
      .popup .popup-devices {
        background-color: red; } }
    @media (min-width: 1001px) and (max-width: 1400px) {
      .popup .popup-devices {
        background-color: green; }
        .popup .popup-devices .desktop {
          top: 50%;
          transform: translateY(-50%);
          left: 2%;
          width: 520px;
          height: 420px; }
        .popup .popup-devices .phone {
          width: 200px;
          height: 400px;
          top: 50%;
          transform: translateY(-50%);
          right: 2%; } }
    @media (min-width: 601px) and (max-width: 1000px) {
      .popup .popup-devices {
        width: 100%;
        height: 60%;
        background-color: yellow; }
        .popup .popup-devices .desktop {
          left: 2%;
          width: 500px;
          height: 400px;
          top: 50%;
          transform: translateY(-50%); }
          .popup .popup-devices .desktop .screen-desktop {
            width: 448px;
            max-height: 252px;
            top: 22px;
            left: 23px; }
        .popup .popup-devices .phone {
          width: 200px;
          height: 400px;
          right: 2%;
          top: 50%;
          transform: translateY(-50%); }
          .popup .popup-devices .phone .screen-phone {
            width: 181px;
            max-height: 297px; } }
    @media (min-width: 0px) and (max-width: 600px) {
      .popup .popup-devices {
        width: 100%;
        height: 60%;
        background-color: blue; } }
  .popup .popup-text {
    width: 40%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #e5e5e5;
    box-shadow: -2px -2px 20px rgba(0, 0, 0, 0.3); }
    .popup .popup-text .popup-text-wrapper {
      top: 30%;
      padding: 0 30px; }
      .popup .popup-text .popup-text-wrapper h1 {
        font-family: "OpenSans-Bold";
        font-size: 36px;
        color: #212121;
        font-weight: bold; }
      .popup .popup-text .popup-text-wrapper h2 {
        font-family: "OpenSans-Regular";
        font-size: 24px;
        color: #727272;
        font-weight: normal; }
      .popup .popup-text .popup-text-wrapper p {
        font-family: "OpenSans-Regular";
        font-size: 12px;
        color: #727272;
        font-weight: normal; }
    @media (min-width: 601px) and (max-width: 1000px) {
      .popup .popup-text {
        width: 100%;
        height: 40%;
        top: auto;
        bottom: 0; }
        .popup .popup-text .popup-text-wrapper {
          top: 10%; } }
    @media (min-width: 0px) and (max-width: 600px) {
      .popup .popup-text {
        width: 100%;
        height: 40%;
        top: auto;
        bottom: 0; }
        .popup .popup-text .popup-text-wrapper {
          top: 10%; } }

.portfolio2 .wrapper {
  width: 90%;
  margin: 0 auto; }
  .portfolio2 .wrapper article {
    overflow: hidden;
    margin: 50px 0; }
    .portfolio2 .wrapper article aside {
      background-image: url(../images/port1-desktop.jpg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      width: 60%;
      min-height: 400px;
      float: right; }
      @media (min-width: 1001px) and (max-width: 1400px) {
        .portfolio2 .wrapper article aside {
          background-image: url(../images/port1-laptop.jpg); } }
      @media (min-width: 601px) and (max-width: 1000px) {
        .portfolio2 .wrapper article aside {
          background-image: url(../images/port1-tablet.jpg); } }
      @media (min-width: 0px) and (max-width: 600px) {
        .portfolio2 .wrapper article aside {
          background-image: url(../images/port1-tablet.jpg);
          float: none;
          margin: 0 auto;
          width: 90%; } }
  @media (min-width: 1401px) {
    .portfolio2 .wrapper {
      min-width: 1400px; }
      .portfolio2 .wrapper .d {
        display: block; }
      .portfolio2 .wrapper .l, .portfolio2 .wrapper .t, .portfolio2 .wrapper .p {
        display: none; } }
  @media (min-width: 1001px) and (max-width: 1400px) {
    .portfolio2 .wrapper {
      min-width: 1000px; }
      .portfolio2 .wrapper .l {
        display: block; }
      .portfolio2 .wrapper .d, .portfolio2 .wrapper .t, .portfolio2 .wrapper .p {
        display: none; } }
  @media (min-width: 601px) and (max-width: 1000px) {
    .portfolio2 .wrapper {
      min-width: 500px; }
      .portfolio2 .wrapper .t {
        display: block; }
      .portfolio2 .wrapper .d, .portfolio2 .wrapper .l, .portfolio2 .wrapper .p {
        display: none; } }
  @media (min-width: 0px) and (max-width: 600px) {
    .portfolio2 .wrapper {
      min-width: 300px; }
      .portfolio2 .wrapper .p {
        display: block; }
      .portfolio2 .wrapper .d, .portfolio2 .wrapper .l, .portfolio2 .wrapper .t {
        display: none; } }

.pros {
  width: 100%;
  background: #f6f6f6; }
  .pros .container article {
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5; }
    @media (min-width: 768px) and (max-width: 991px) {
      .pros .container article {
        border-bottom: 1px solid #e5e5e5; }
        .pros .container article:nth-child(2) {
          border-right: none; } }
    @media (max-width: 767px) {
      .pros .container article {
        border-bottom: 1px solid #e5e5e5; } }
    .pros .container article:last-child {
      border-right: none; }
    .pros .container article div {
      padding: 0;
      margin: 0 10px;
      margin-top: 60px;
      margin-bottom: 80px;
      text-align: center; }
      .pros .container article div i {
        padding-bottom: 30px; }
      .pros .container article div h1 {
        font-family: "Oswald-Light";
        font-size: 28px;
        color: #212121;
        font-weight: normal;
        letter-spacing: 3px;
        text-transform: uppercase;
        padding-bottom: 15px; }
      .pros .container article div p {
        line-height: 160%;
        font-family: "OpenSans-Regular";
        font-size: 14px;
        color: #727272;
        font-weight: normal;
        letter-spacing: 1px; }

.quote {
  width: 100%;
  background: #3F51B5; }
  .quote .container div {
    text-align: center;
    margin: 0 auto;
    padding: 50px 0; }
    .quote .container div h1 {
      font-family: "Oswald-Light";
      font-size: 30px;
      color: #FFFFFF;
      font-weight: normal;
      letter-spacing: 2px;
      text-transform: none;
      text-align: center;
      padding-bottom: 40px; }
    .quote .container div a {
      display: inline-block;
      text-align: center;
      margin: 0 auto; }

.btn-only {
  background-color: #f6f6f6; }
  .btn-only h1 {
    display: none; }
  .btn-only div {
    padding: 20px 0 !important; }

#about-start {
  position: absolute;
  top: 1px; }

.title-subtitle {
  background: #f6f6f6;
  overflow: hidden; }
  .title-subtitle .container {
    border-bottom: 1px solid #e5e5e5; }
    .title-subtitle .container .left-block,
    .title-subtitle .container .right-block {
      display: inline-block; }
    .title-subtitle .container .left-block {
      border-right: 1px solid #e5e5e5; }
      .title-subtitle .container .left-block h1 {
        font-family: "Oswald-Light";
        font-size: 90px;
        color: #212121;
        font-weight: normal;
        text-transform: uppercase;
        text-align: center; }
        @media (min-width: 768px) and (max-width: 991px) {
          .title-subtitle .container .left-block h1 {
            font-size: 75px;
            padding-top: 5px;
            padding-right: 30px; } }
        @media (max-width: 767px) {
          .title-subtitle .container .left-block h1 {
            font-size: 65px;
            margin: 0;
            padding: 20px 0;
            padding-top: 40px; } }
    .title-subtitle .container .right-block h2 {
      padding-left: 40px;
      padding-top: 80px;
      width: 100%;
      font-family: "OpenSans-Regular";
      font-size: 18px;
      color: #727272;
      font-weight: normal;
      text-align: left; }
      @media (min-width: 768px) and (max-width: 991px) {
        .title-subtitle .container .right-block h2 {
          padding-top: 40px; } }
      @media (max-width: 767px) {
        .title-subtitle .container .right-block h2 {
          padding: 20px 0;
          padding-bottom: 40px;
          text-align: center;
          margin: 0; } }

/* .contact {
    .title-subtitle {
        background: $background-color-dark;
        .container {
            margin-top: 0 !important;
            border-bottom: 1px solid $divider-color;

            .left-block {
                border-right: 1px solid $divider-color;

            }

        }
    }
} */
.expertise {
  width: 100%;
  background: #f6f6f6; }
  .expertise .container article div {
    padding: 0;
    margin: 0 10px;
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center; }
    @media (max-width: 767px) {
      .expertise .container article div {
        margin-bottom: 20px; } }
    .expertise .container article div i {
      position: relative;
      left: 0;
      padding-bottom: 30px; }
    .expertise .container article div h1 {
      text-align: left;
      font-family: "Oswald-Light";
      font-size: 20px;
      color: #212121;
      font-weight: normal;
      letter-spacing: 3px;
      text-transform: uppercase;
      padding-bottom: 15px; }
      .expertise .container article div h1 span {
        font-family: "Oswald-Regular";
        font-size: 20px;
        color: #303F9F;
        font-weight: normal; }
      @media (max-width: 767px) {
        .expertise .container article div h1 {
          text-align: center; } }
    .expertise .container article div p {
      text-align: left;
      line-height: 160%;
      width: 90%;
      font-family: "OpenSans-Regular";
      font-size: 14px;
      color: #727272;
      font-weight: normal;
      letter-spacing: 1px; }
      @media (max-width: 767px) {
        .expertise .container article div p {
          width: 100%;
          text-align: center; } }

#expertise .row {
  display: none; }

.footer {
  width: 100%;
  background: #212121; }
  .footer .container div {
    margin: 0 auto;
    padding: 20px 0; }
    .footer .container div p {
      margin: -2px auto;
      font-family: "Oswald-Light";
      font-size: 22px;
      color: #f6f6f6;
      font-weight: normal;
      text-transform: none;
      text-align: center; }

@main-black : rgba(32, 36, 39, 0.85);
.heart {
  margin: 0 auto;
  background-image: url(../images/heart_animation.png);
  width: 50px;
  height: 50px;
  background-size: 2900%;
  background-repeat: no-repeat;
  background-position: right;
  transition: all .32s;
  opacity: 0.8; }
  .heart:hover {
    opacity: 1;
    transition: all .32s; }

.animated-heart {
  animation-name: moveHeart;
  animation-duration: .8s;
  animation-iteration-count: 1;
  animation-timing-function: steps(28);
  animation-fill-mode: forwards; }

@keyframes moveHeart {
  0% {
    background-position: left; }
  50% {
    background-position: right; }
  100% {
    background-position: right; } }
.click-heart {
  cursor: pointer; }

.expertise-all section {
  background: #fefefe; }

/* Chrome Frame Prompt */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; }
  #loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 50%;
    height: 100%;
    background: #222222;
    z-index: 1000;
    -webkit-transform: translateX(0);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(0);
    /* IE 9 */
    transform: translateX(0);
    /* Firefox 16+, IE 10+, Opera */ }
    #loader-wrapper .loader-section img {
      position: absolute;
      height: auto;
      width: 80px;
      top: 50%;
      transform: translateY(-50%); }
  #loader-wrapper .loader-section.section-left {
    left: 0; }
    #loader-wrapper .loader-section.section-left img {
      right: 0; }
  #loader-wrapper .loader-section.section-right {
    right: 0; }
    #loader-wrapper .loader-section.section-right img {
      left: 0; }

/* Pull screen to left */
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(-100%);
  /* IE 9 */
  transform: translateX(-100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }

/* Pull screen to right */
.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(100%);
  /* IE 9 */
  transform: translateX(100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }

.project {
  margin-bottom: 50px; }
  .project .project-hero {
    background-image: url("../images/projeto1/mockDrop_MacBook%20Pro (1).jpg");
    background-size: cover;
    background-position: center center;
    min-height: 600px;
    width: 100%; }
    .project .project-hero h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      font-family: "Oswald-Light";
      font-size: 50px;
      color: #FFFFFF;
      font-weight: normal;
      background-color: #f85b3f;
      padding: 10px 20px; }
  .project aside {
    float: right;
    margin-top: 50px; }
    .project aside .row p {
      font-family: "Opensans-bold";
      font-size: 20px;
      color: #212121;
      font-weight: normal;
      border-bottom: 2px solid #3F51B5;
      display: inline; }
    .project aside .row ul {
      margin-bottom: 20px; }
      .project aside .row ul li {
        font-family: "Opensans-regular";
        font-size: 12px;
        color: #212121;
        font-weight: normal;
        margin-top: 5px; }
        .project aside .row ul li a {
          cursor: pointer !important;
          color: #212121; }
          .project aside .row ul li a:hover {
            color: #3F51B5; }
    @media (max-width: 767px) {
      .project aside {
        display: none; } }
  .project .container h2 {
    margin: 50px 0 30px 0;
    font-family: "Oswald-Light";
    font-size: 40px;
    color: #212121;
    font-weight: normal; }
  .project .container h3 {
    font-family: "Oswald-Light";
    font-size: 30px;
    color: #212121;
    font-weight: normal;
    margin: 30px 0 20px 0; }
  .project .container p {
    font-family: "Opensans-regular";
    font-size: 12px;
    color: #212121;
    font-weight: normal;
    margin: 10px 0; }
  .project .container img {
    width: 100%; }

/*# sourceMappingURL=main.css.map */
