$mobile: 512px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1280px;

@mixin mobile {
    @media (min-width: 0px) and (max-width: #{$mobile}) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: #{$mobile+1px}) and (max-width: #{$tablet}) {
        @content;
    }
}
@mixin laptop {
    @media (min-width: #{$tablet+1px}) and (max-width: #{$laptop}) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: #{$laptop+1px}) and (max-width: #{$desktop}) {
        @content;
    }
}

@mixin small {
    @media (max-width: #{$laptop}) {
        @content;
    }
}

//reset
*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    position: relative;
}
html, body {
    height: 100%;
}

h1 {
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
}

.btn {
    display: inline-block;
    line-height: 50px;
    padding: 0 20px;
    border: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}
