$mobile: 512px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1280px;

@mixin mobile {
    @media (min-width: 0px) and (max-width: #{$mobile}) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: #{$mobile+1px}) and (max-width: #{$tablet}) {
        @content;
    }
}
@mixin laptop {
    @media (min-width: #{$tablet+1px}) and (max-width: #{$laptop}) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: #{$laptop+1px}) and (max-width: #{$desktop}) {
        @content;
    }
}

@mixin small {
    @media (max-width: #{$laptop}) {
        @content;
    }
}

//reset
*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

h1 {
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
}
