
.expertise {
    width: 100%;
    background: $background-color-light;
    .container {
        article {
            div {
                padding: 0;
                margin: 0 10px;
                margin-top: 60px;
                margin-bottom: 30px;
                text-align: center;
                @include breakpoint(xs-all) {
                    margin-bottom: 20px;
                }
                i {
/*                    color: green;*/
                    position: relative;
                    left: 0;
                    padding-bottom: 30px;
                }
                h1 {
                    text-align: left;
                    span {
                        @include font("Oswald-Regular", 20px, $primary-color-dark, normal);
                    }
                    @include font("Oswald-Light", 20px, $primary-text-color, normal);
                    letter-spacing: 3px;
                    text-transform: uppercase;
                    padding-bottom: 15px;
                    @include breakpoint(xs-all) {
                        text-align: center;
                    }
                }
                p {
                    text-align: left;
                    line-height: 160%;
                    width: 90%;
                    @include font("OpenSans-Regular", 14px, $secondary-text-color, normal);
                    letter-spacing: 1px;
                    @include breakpoint(xs-all) {
                        width: 100%;
                        text-align: center;
                    }
                }
            }
        }
    }
}

#expertise .row{
    display: none;
}
