$speed: .5s;
$snap: cubic-bezier(1.000, 0.005, 0.240, 1.000);
$bounce: cubic-bezier(0.175, 0.885, 0.320, 1.275);

/* Bugs: when scrolling to a section it flashes the hero and then go to the specific section */

.content {
    //  transform-origin: top left;
    transition: transform $speed $snap;
}

.menu_toggle {
    z-index: 900;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    cursor: pointer;
    width: 100px;
    height: 80px;
    background-color: $accent-color;
    border-bottom-right-radius: 100%;
    @include breakpoint(xs-all) {
        width: 70px;
        height: 60px;
    }
    &:active {
        i {
            opacity: 0.8
        }
    }
    i {
        color: $primary-color-text;
    }
    .menu_open,
    .menu_close {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -15px;
        margin-left: -12px;
        transition: transform $speed $snap;
        @include breakpoint(xs-all) {
            top: 54%;
            left: 47%;
        }
    }
    .menu_open {
        transform-origin: -100px -100px;
    }
    .menu_close {
        transform: rotate(20deg);
        transform-origin: -100px -160px;
    }
}

.menu_items {
    position: fixed;
    top: 130px;
    left: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
        height: 60px;
        margin-bottom: 30px;
        transform: translateX(-300px);
        transition: transform $speed 0s $snap;
        &:nth-child(2) {
            margin-left: 40px;
        }
        &:nth-child(3) {
            margin-left: 80px;
        }
        &:nth-child(4) {
            margin-left: 40px;
        }
    }
    a {
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: darken($primary-color-dark, 30%);
        transition: color .2s;
        .icon {
            position: relative;
            display: inline-block;
            margin-right: 25px;
            color: $primary-color-dark;
            &:after {
                position: absolute;
                top: 53%;
                left: 54%;
                content: '';
                display: block;
                width: 60px;
                height: 60px;
                margin-left: -33px;
                margin-top: -32px;
                border-radius: 100%;
                border: 2px solid $background-color-dark;
                transition: border-color .2s;
            }
        }
        &:hover {
            color: $accent-color !important;
            .icon {
                &:after {
                    border-color: $accent-color;
                }
            }
        }
        &:active {
            .icon {
                color: $accent-color;
            }
        }
    }
}


/* Let's open up the menu */

.shazam {
    .content {
        //transform: rotate(-20deg);
        transform: translateX(320px);
    }
    // this will show hidden content overflow when rotated,
    // but will result in a jump, if you've already scrolled down the content
    // plus, you will lose your current reading position
    // fixable with JS, not gonna bother
    /*.content_inner {
    height: 100%;
  }*/
    .menu_open {
        transform: rotate(-20deg);
    }
    .menu_close {
        transform: rotate(0);
    }
    .menu_items {
        li {
            transform: translateX(0);
            transition: transform .35s .45s $bounce;
            &:nth-child(2) {
                transition-delay: .47s;
            }
            &:nth-child(3) {
                transition-delay: .48s;
            }
            &:nth-child(4) {
                transition-delay: .50s;
            }
        }
    }
}

//.shazam opens and closes the menu button
.single.shazam {}