.hero {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url(../images/tagus.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    .lang-switcher{
        z-index: 998;
        background: blue;
        position: absolute;
        top: 10px;
        right: 10px;
        img{
            cursor: pointer;
            height: auto;
            width: 42px;
        }
    }
    .mask-hero {
        background: -webkit-linear-gradient(bottom left, rgba(48, 63, 159, 0.8) 0%, rgba(248, 91, 63, 0.8) 100%);
        background: -o-linear-gradient(bottom left, rgba(48, 63, 159, 0.8) 0%, rgba(248, 91, 63, 0.8) 100%);
        background: linear-gradient(to top right, rgba(48, 63, 159, 0.8) 0%, rgba(248, 91, 63, 0.8) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf303f9f', endColorstr='#bff85b3f', GradientType=1);
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        -webkit-filter: brightness(150%);
    }
    .wrapper-hero {
        z-index: 5;
        width: 500px;
        top: 50%;
        transform: translateY(-50%);
        margin: 0 auto;
        text-align: center;
        background-color: $background-color-dark;
        h1 {
            display: inline-block;
            @include font("OpenSans-Bold", 120px, $divider-color, normal);
            display: inline-block;
            line-height: 100px;
            margin: 40px 0;
            span {
                @include font("OpenSans-Condensed-Light", 165px, $secondary-text-color, normal);
            }
        }
        @include tablet {
            width: 320px;
            top: 50%;
            transform: translateY(-50%);
            margin: 0 auto;
            text-align: center;
            h1 {
                font-size: 80px;
                line-height: 70px;
                margin: 30px 0;
                span {
                    font-size: 110px;
                }
            }
        }
        @include mobile {
            width: 220px;
            top: 50%;
            transform: translateY(-50%);
            margin: 0 auto;
            text-align: center;
            h1 {
                font-size: 58px;
                line-height: 50px;
                margin: 20px 0;
                span {
                    font-size: 80px;
                }
            }
        }
    }
    .hero-down {
        bottom: 30px;
        left: 50%;
        font-size: 20px;
        transform: translateX(-50%);
        display: inline-block;
        z-index: 4;
        position: absolute;
        animation: hero-down 2s infinite;
        cursor: pointer;
        padding: 20px;
        i {
            color: $primary-color-text !important;
        }
        @include tablet {
            bottom: 10px;
            animation: hero-down-mob 2s infinite;
        }
        @include mobile {
            bottom: 5px;
            animation: hero-down-mob 2s infinite;
        }
    }
}

@-webkit-keyframes hero-down {
    0% {bottom: 30px;}
    50% { bottom: 50px;}
    100% {bottom: 30px;}
}

@keyframes hero-down {
    0% {bottom: 30px;}
    50% {bottom: 50px;}
    100% {bottom: 30px;}
}

@-webkit-keyframes hero-down-mob {
    0% {bottom: 0px;}
    50% {bottom: 20px;}
    100% {bottom: 0px;}
}

@keyframes hero-down-mob {
    0% {bottom: 0px;}
    50% {bottom: 20px;}
    100% {bottom: 0px;}
}
