.portfolio {
    .wrapper {
        width: 90%;
        margin: 0 auto;
        .slick-port {
            article {
                margin: 50px 0;
                overflow: hidden;
                h1,
                h2,
                p {
                    display: block;
                    width: 37%;
                    @include mobile {
                        width: auto;
                    }
                }
                aside {
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                    width: 60%;
                    min-height: 380px;
                    float: right;
                    img {
                        display: none;
                        width: 90%;
                        @include desktop {
                            &.portdesktop {
                                display: block;
                            }
                            &.portlaptop {
                                display: none;
                            }
                            &.porttablet {
                                display: none;
                            }
                        }
                        @include laptop {

                            &.portdesktop {
                                display: none;
                            }
                            &.portlaptop {
                                display: block;
                            }
                            &.porttablet {
                                display: none;
                            }
                        }
                        @include tablet {

                            &.portdesktop {
                                display: none;
                            }
                            &.portlaptop {
                                display: none;
                            }
                            &.porttablet {
                                display: block;
                            }
                        }
                        @include mobile {
                            &.portdesktop {
                                display: none;
                            }
                            &.portlaptop {
                                display: none;
                            }
                            &.porttablet {
                                display: block;
                            }
                        }
                    }
                    @include mobile {

                            float: none;
                            margin: 0 auto;
                            width: 90%;
                    }
                }
                a {
                    margin-top: 20px;
                    @include mobile {
                        display: block;
                        text-align: center;
                    }
                }
                @include mobile {
                    padding: 0 10px;
                }
            }
        }
        @include desktop {
            min-width: 1400px;
        }
        @include laptop {
            min-width: 1000px;
        }
        @include tablet {
            min-width: 500px;
        }
        @include mobile {
            min-width: 300px;
        }
    }
}
