.portfolio2 {
    .wrapper {
        width: 1300px;
        margin: 0 auto;
        article {
            overflow: hidden;
            font-size: 0;
            margin: 50px 0;
            img {
                width: 60%;
                display: inline-block;
                padding: 20px;
            }
            aside {
                width: 40%;
                display: inline-block;
                top: 20%;
                position: absolute;
                padding: 20px;
                direction: ltr;
                h1 {
                    font-size: 36px;
                }
                h2 {
                    font-size: 24px;
                }
                p {
                    font-size: 14px;
                }

            }
            &:nth-of-type(even) {
                    direction: rtl;
                }
        }
    }
}
