.project {
    margin-bottom: 50px;
    .project-hero {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        min-height: 800px;
        width: 100%;
        -webkit-filter: brightness(140%);
        .project-hero-mask {
            width: 100%;
            height: 100%;
            position: absolute;
        background: -webkit-linear-gradient(bottom left, rgba(48, 63, 159, 0.8) 0%, rgba(248, 91, 63, 0.8) 100%);
        background: -o-linear-gradient(bottom left, rgba(48, 63, 159, 0.8) 0%, rgba(248, 91, 63, 0.8) 100%);
        background: linear-gradient(to top right, rgba(48, 63, 159, 0.8) 0%, rgba(248, 91, 63, 0.8) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf303f9f', endColorstr='#bff85b3f', GradientType=1);
        }
        h1 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            @include font("Oswald-Light", 50px, $primary-color-text, normal);
            padding: 20px 30px;
            border: 2px solid #fff;
        }
    }
    aside {
        float: right;
        margin-top: 50px;
        z-index: 10;
        .row {
            p {
                @include font("Opensans-bold", 20px, $primary-text-color, normal);
                border-bottom: 2px solid $primary-color;
                display: inline;
            }
            ul {
                margin-bottom: 20px;
                li {
                    @include font("Opensans-regular", 12px, $primary-text-color, normal);
                    margin-top: 5px;
                    a {
                        cursor: pointer !important;
                        color: $primary-text-color;
                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
        }
        }
        @include breakpoint(xs-all) {
            display: none;
        }
    }
    .container {
        h2 {
            margin: 50px 0 20px 0;
            @include font("Oswald-Light", 40px, $primary-text-color, normal);
        }
        h3 {
            @include font("Oswald-Light", 30px, $primary-text-color, normal);
            margin: 40px 0 10px 0;
        }
        p {
            @include font("Opensans-regular", 12px, $primary-text-color, normal);
            margin: 10px 0;
        }
        ul {
            margin: 0 10px;
            padding: 0 10px;
            margin-left: 20px;
            li {
                list-style: square;
            }
        }
        img {
            width: 100%;
            margin-bottom: 40px;
        }
    }
}
