.quote {
    width: 100%;
    background: $primary-color;
    .container {
        div {
            text-align: center;
            margin: 0 auto;
            padding: 50px 0;
            h1 {
                @include font("Oswald-Light", 30px, $primary-color-text, normal);
                letter-spacing: 2px;
                text-transform: none;
                text-align: center;
                padding-bottom: 40px;
            }
            a {
                display: inline-block;
                text-align: center;
                margin: 0 auto;

            }
        }
    }
}

.btn-only{
    background-color: $background-color-light;
    h1{
        display: none;
    }
    
    div{
        padding: 20px 0 !important;
    }
}


