.quote {
    width: 100%;
    background: #f6f6f6;
    .container {
        div {
            text-align: center;
            margin: 0 auto;
            padding: 50px 0;
            h1 {
                @include font("Oswald-Regular", 28px, $black-1, normal);
                text-transform: none;
                text-align: center;
                padding-bottom: 40px;
            }
            a {
                display: inline-block;
                text-align: center;
                margin: 0 auto;

            }
        }
    }
}

.btn-only{
    h1{
        display: none;
    }
    
    div{
        padding: 20px 0 !important;
    }
}


